body {
  background-color: rgb(221, 224, 224);
}

h1 {
  color:darkmagenta;
  font-family: verdana;
  font-size: 200%;
}

h2 {
  color: rgb(255, 119, 0);
  font-family: verdana;
  font-size: 100%;
}

h3 {
  color: rgb(111, 0, 255);
  font-family: verdana;
  font-size: 80%;
}

button {
  color: rgb(0, 117, 128);
  font-family: verdana;
  font-size: 90%;
}

table {
  font-family: verdana;
  color: rgb(255, 0, 106);
}
